




body
    background-color: $sandOpaque
   
.navListings  
    display: flex   
    align-items: center
    justify-content: flex-end
    background: none
    border: none
    outline: none
.profile, .listingsButton, .logoutButton
    &:hover
        // background-color:#D9CAC5
        padding: 5px 16px
        border-radius: 21px
        // border: 2px solid #D9CAC5
        box-shadow: 2px 2px 2px $sand
        // text-decoration: underline
        // height: 10px
        // padding: 0px 16px
    text-align: center
    font-size: 16px
    font-family: $mainFont
    color: $lightMain
    text-decoration: none
    height: 100%
    box-sizing: border-box
    height: 42px
    padding: 0px 16px
    -webkit-appearance: none
    background: none
    border: none
    outline: none
    font-weight: bold

#searchBar
    display: flex
    justify-content: flex-start
    background: none
    border: none
    outline: none
    width: 25%
    position: relative
    display: flex
    border: 1px solid $darkMain
    border-radius: 5px
    // height: 40px
    // margin-top: 15px
    // margin-bottom: 15px

    
