doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../public/stylesheets/BookingStyle/styles/style.css
        title Canceeeelllllllllleeedddddd
    body
        h1
        div
        script(src="/scripts/bookings.js", type='module')
