doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../public/stylesheets/BookingStyle/styles/style.css
        title Bookings
    body
        div.navListings
            a(class="listingsButton" href="/kitchens") Listings
            a(class="logoutButton" href="/") Log out
        h1
        div
            .booking-detail-container
            .booking-image-container
            .booking-action-container
                button(class="booking-action-button cancel-booking") Cancel Booking
                button(class="hidden booking-action-button leave-review") Leave a Review
        script(src="/scripts/bookings.js")
