<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="/scripts/create-kitchen.js")
        title Create a Kitchen
    body
        //- <form action="./" class="dropzone" id='my-awesome-dropzone' enctype="multipart/form-data">
        //-     <div class="fallback">
        //-         <input name="file" type="file" multiple />
        //-     </div>
        //-     button(type='submit') upload pictures
        //- </form>
        form(action="" id='kitchen-form')
            div
                label(for="name") Name
                input(type = 'text', name='name')
            div
                label(for="state") Select State
                select(name="state", id='states')
            div
                label(for="city") Select City
                select(name="city", id='cities')
            div
                label(for="address") Adress
                input(type = 'text', name='address')
            div
                label(for="description") Description
                textarea(name="description", cols="30", rows="10", type='text')
            div
                input(type='file', name='file' multiple, id='img-upload')
            div
                button(type='submit') Create Kitchen
