doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            //- include ../public/stylesheets/DashboardStyle/styles/style.css
        title Dashboard
    body
        include includes/host-navbar.pug
        h1
        div.dashboard-top
            div.welcome-text
        div.dashboard-middle
            div.host-kitchens
                div.kitchens-container-label Kitchens
                div.kitchens-container
            div.host-bookings
                div.bookings-container-label Bookings
                div.bookings-container
                    div.pastBookings
                    div.currentBookings
        div.dashboard-bottom
            div.host-review-form

    script(type="module" src="/scripts/dashboard.js")
