doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../public/stylesheets/styles/style.css
        title Document
    body

        div.nav
            a(class="hostSignupButton") Host Your Kitchen
            a(href="/help") Help
            button(class="signupButton") Sign Up
            button(class="loginButton" href="/log-in") Log in
        div.container

        .login
            include login.pug
