doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Kitchen Details
  body
    .navListings

    .kitchenDetails
      .kitchenDetails__row-1
        .kitchenDetails__row-1__info
        .kitchenDetails__row-1__staticMap
      .kitchenDetails__row-2
        .kitchenDetails__row-2__images
      .kitchenDetails__row-3
        .kitchenDetails__row-3__detailsHostBio
      .kitchenDetails__row-4
        .kitchenDetails__row-4__features
      .kitchenDetails__row-5
        .kitchenDetails__row-5__reviews

    script
      include ../public/scripts/utils.js
    script
      include ../public/scripts/kitchen-details.js