doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ../public/stylesheets/mainListingsStyle/styles/style.css
        title Document
    body
        
        div.navListings
            button(class="profile" href="http://profile") Profile
            button(class="listingsButton" href="http://listings") Listings
            button(class="logoutButton" href="http://log-out") Log out
        .search    
            input(type="search" class="searchBar" placeholder="search")
        .kitchenListing
            