<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script( src='/scripts/listing-checkout.js')
        title Listing Checkout
    body
        div.navListings
            button(class="listingsButton" href="/kitchens") Listings
            button(class="logoutButton" href="/") Log out
        div.bookings-form
            form(action="", id='bookings-form')
                div.bookings-form__left
                    div.bookings-form__calendar
                        //- put calendar stuff in here?
                div.bookings-form__right
                    div.right__top
                        div(class="bookings-form__img", id="bookings-form__img")
                            //- image goes here
                    div.right__bottom
                        div.bookings-form__button
                            button(type='submit')
