html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            //- include ../public/stylesheets/ProfileStyle/styles/style.css
        title Profile
    body
        div.navListings
<<<<<<< HEAD
            a(class="listingsButton" href="/listings") Listings
            a(class="logoutButton" href="/") Log out
=======
            button(type="submit" class="listingsButton") Listings
            button(type="submit" class="logoutButton") Log out
>>>>>>> 36fc5be629ba9b508c547a99f16a26e056c84b50
        h1 Your Bookings
        div.bookings
            div.pastBookings
            div.currentBookings
    script(src="/scripts/profile.js")
