html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../public/stylesheets/ProfileStyle/styles/style.css
        title Profile
    body
        div.navListings
            button(type="submit" class="profile") Profile
            button(type="submit" class="listingsButton") Listings
            button(type="submit" class="logoutButton") Log out
        h1 Your Bookings
        div.bookings
            div.pastBookings
            div.currentBookings
    script(src="/scripts/profile.js")
