html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            //- include ../public/stylesheets/ProfileStyle/styles/style.css
        title Profile
    body
        div.navListings
            button(type="submit" class="listingsButton" id="listings-button") Listings
            button(type="submit" class="logoutButton" id="logout-button") Log out
        h1 Your Bookings
        div.bookings
            div.pastBookings
            div.currentBookings
            div.reviewBookings
                form.reviewForm
                    button.submit-review-button
    script(type="module" src="/scripts/profile.js")
