div.navListings
    button(class="profile" id='profile-button' href="/") Profile
    button(class="listingsButton" id='listings-button' href="/kitchens") Listings
    button(class="logoutButton" id='logout-button' href="/") Log out
